@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-image: url('https://img.freepik.com/premium-photo/halloween-party-dead-basketball-hallowee-soccer-vogue-fashion_160841-33.jpg?w=996');
    background-size: cover;
    background-repeat: no-repeat;
}
  
  #nav-bar {
    background-color: rgba(60, 60, 60, 0.3 );
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    padding: 0 20%;
  }
  
  nav a {
    font-size: 130%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    padding: 5px 10px;
  }
  
  .active {
    background-color: #e26238;
    border-radius: 5px;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.7 );
  }

  /* .player-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }

  .player-card {
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

  #player-container, .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 75px 0 50px;
}
.player-card, .team-card {
    width: 300px;
    margin: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.player-card:hover, .team-card:hover {
    border: 1px solid #e26238;
}

.player-content, .team-content {
    text-align: center;
}

.player-content img, .team-content img {
    width:200px;
    margin-bottom: 10px;
    border-radius: 5px;   
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.nav-btn {
    text-align: center;
}

.btn {
    background-color: transparent;
    color: #fff;
    font-size: 300%;
    margin: 0 20px 100px;
    border: none;
}

.btn:hover {
    color: #e26238;
}